.app {
    min-height: 100vh;
    background-color: var(--bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

main {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}