.app {
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
  /* flex-direction: column; */
}



.content {
  max-width: calc(100vw - 150px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.posters {
  max-width: calc(100vw - 150px);
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}