.app {
  max-width: 100vw;
  background-color: var(--main-color);
  display: flex;
  /* flex-direction: column; */
}



.content {
  max-width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
    max-width: 100vw;
  }

  .content {
    max-width: 100vw;
  }
}